1. Implement Fibonacci series using recursion.

In [1]:
def fibo(x):
    if x==1:
        return 1
    else:
        return (x*fibo(x-1))

In [3]:
fibo(3)

6

2. Write a Python program to find all the unique words and count the frequency of 
occurrence from a given list of strings.

In [5]:
l_o_f=["ahmed","mostafa","omar","mohamed","ahmed","ahmed","hessien","soliman","mostafa"]

In [7]:
def c_o_u(x):
    counter=0
    for i in x:
        
        if i in x:
            x.remove(i)
        else:
            counter+=1 
    return (x,counter)

In [9]:
c_o_u(l_o_f)

(['mohamed', 'ahmed', 'soliman', 'mostafa'], 0)

3. Write a Python program that finds all pairs of elements in a list whose sum is equal to a 
given value.

In [11]:
def get_pairs(x,y):
    l_o_p=[[(i,j) for j in x if j+i==y]for i in x]
    return l_o_p
my_list=[1,2,3,5,6,8,7]  
get_pairs(my_list,9)

[[(1, 8)], [(2, 7)], [(3, 6)], [], [(6, 3)], [(8, 1)], [(7, 2)]]

4. Write a Python program to find the two numbers whose product is maximum among all 
the pairs in a given list of numbers

In [27]:
def max_product(l):
    max_p=0
    for i in range(len(l)-1):
          if l[i]*l[i+1]>max_p:
                x=l[i]
                y=l[i+1]
                max_p=x*y
        
          
    return f"the max product pairs is {(x,y)} =  {max_p}"

In [29]:
my_list=[2,5,4,1,9,8,10,3]
max_product(my_list)

'the max product is (8, 10) =  80'

5. 
Write a Python function that takes a number as a parameter and checks whether the 
number is prime or not.

In [37]:
def prims(x):
    for i in range(2,x):
        if x%i ==0:
            return f"{x} not a prime number"
    return f"{x} is a prime number"

In [45]:
prims(21)

'21 not a prime number'

6. Write a Python function  to print the even numbers from a given list.

In [54]:
my_list=[1,2,3,4,9,7,8,5,10,18,14,13,17,22,66,45,44]

In [62]:
def even_n(l):
    return list(filter(lambda x:x%2==0,l))

In [64]:
even_n(my_list)

[2, 4, 8, 10, 18, 14, 22, 66, 44]

7. Write a function that will take a given string and reverse the order of words.

In [165]:
x= "hello world"
def rev(l):
    y=l.split()
    y.reverse()
    return " ".join(y)

In [167]:
print(rev(x))

world hello

8. Given an integer x, return true if x is a palindrome, and false otherwise.

In [204]:
x=input ("enter the number")
def palind(n):
    y=list(n)
    y.reverse()
    if x=="".join(y):
        return True
    else :
        return False
palind(x)

enter the number 555

True

9.  Write a Python function that checks whether a passed string is a palindrome or not.

In [209]:
x=input ("enter the string")
def palind(n):
    y=list(n)
    y.reverse()
    if x=="".join(y):
        return True
    else :
        return False
palind(x)

enter the string ghjk

False

10. Write a Python function to create and print a list where the values are the squares of numbers 
between 1 and 30 (both included).

In [1]:
def sq_func(l):
    y=list(map(lambda x:x**2,l))
    return y
my_list=[i for i in range(1,30)]
sq_func(my_list)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841]

11. Write a Python function to generate all permutations of a list.

In [36]:
p_list=[]

def permutation(l,c=1):
    for x in l:
        if x ==1:
            p_list.append(p)
        else:
            c=c*permutation(x-1)
    return p_list
my_list=[5,8,7,4,2,20]

permutation(my_list,1)

TypeError: 'int' object is not iterable

12. Write a Python program to access a function inside a function.

In [10]:
def summ(l):
    print(sum(l))
    return sum(l)
def oss2(li):
    return summ(li)**2

In [12]:
my_list=[2,9,6,45,7]

In [14]:
oss2(my_list)

69

4761